.uts-default,
.uts-default * {
  box-sizing: border-box;
}
.uts-default {
  height: 1080px;
  position: relative;
}
.uas {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.materi {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-48 {
  position: absolute;
  inset: 0;
}
.group-44 {
  width: 1920px;
  height: 1080px;
  position: static;
}
.p {
  width: 1920px;
  height: 1080px;
  position: static;
}
.background {
  width: 1920px;
  height: 1080px;
  position: static;
}
.rectangle-1 {
  background: linear-gradient(
    180deg,
    rgba(0, 8, 84, 1) 0%,
    rgba(152, 0, 119, 1) 100%
  );
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.group-42 {
  width: 1609.41px;
  height: 84px;
  position: static;
}
.group-8 {
  width: 1609.41px;
  height: 84px;
  position: static;
}
.rectangle-2 {
  background: #fffbfb;
  border-radius: 10px;
  width: 83.82%;
  height: 7.78%;
  position: absolute;
  right: 7.45%;
  left: 8.73%;
  bottom: 84.58%;
  top: 7.64%;
}
.group-7 {
  width: 4.02%;
  height: 4.31%;
  position: absolute;
  right: 85.88%;
  left: 10.1%;
  bottom: 86.25%;
  top: 9.44%;
  overflow: visible;
}
.uts {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 21px;
  font-weight: 700;
  position: absolute;
  right: 75.07%;
  left: 15.54%;
  width: 9.38%;
  bottom: 85.97%;
  top: 9.72%;
  height: 4.31%;
}
.rectangle-11 {
  background: #ffffff;
  border-radius: 10px;
  width: 41.64%;
  height: 65.56%;
  position: absolute;
  right: 7.43%;
  left: 50.93%;
  bottom: 8.89%;
  top: 25.56%;
}
.rectangle-12 {
  background: #ffffff;
  border-radius: 10px;
  width: 41.45%;
  height: 65.56%;
  position: absolute;
  right: 49.85%;
  left: 8.7%;
  bottom: 8.89%;
  top: 25.56%;
}
.frame-8 {
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 27.76%;
  height: 5.97%;
  position: absolute;
  right: 56.7%;
  left: 15.54%;
  bottom: 58.33%;
  top: 35.69%;
  overflow: hidden;
}
.frame-2 {
  background: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.kelas {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  flex: 1;
  height: 23px;
}
.group-55 {
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.frame-7 {
  background: #ffffff;
  width: 284px;
  height: 199px;
  position: absolute;
  left: 0px;
  top: 52px;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.d-3-ti-01 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  flex: 1;
  height: 23px;
}
.frame-4 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  position: absolute;
  left: 0px;
  top: 43px;
}
.d-3-ti-02 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  flex: 1;
  height: 23px;
}
.frame-5 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  position: absolute;
  left: 0px;
  top: 86px;
}
.d-3-mi-01 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  flex: 1;
  height: 23px;
}
.frame-6 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 284px;
  position: absolute;
  left: 0px;
  top: 129px;
}
.d-3-mi-02 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  flex: 1;
  height: 23px;
}
.waktu {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 74.98%;
  left: 16.52%;
  width: 8.5%;
  bottom: 35.69%;
  top: 60.97%;
  height: 3.33%;
}
.rectangle-14 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 27.76%;
  height: 6.81%;
  position: absolute;
  right: 56.7%;
  left: 15.54%;
  bottom: 27.64%;
  top: 65.56%;
}
.rectangle-15 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 37.54%;
  height: 32.78%;
  position: absolute;
  right: 9.58%;
  left: 52.88%;
  bottom: 36.94%;
  top: 30.28%;
}
.rectangle-16 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 37.54%;
  height: 23.19%;
  position: absolute;
  right: 9.58%;
  left: 52.88%;
  bottom: 11.94%;
  top: 64.86%;
}
.keterangan {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 36.46%;
  left: 52.88%;
  width: 10.65%;
  bottom: 70.83%;
  top: 26.67%;
  height: 2.5%;
}
.group-62 {
  width: 9.48%;
  height: 13.47%;
  position: absolute;
  right: 23.66%;
  left: 66.86%;
  bottom: 16.81%;
  top: 69.72%;
  overflow: visible;
}
.drag-or-drop-file {
  color: rgba(0, 0, 0, 0.5);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  font-weight: 700;
  position: absolute;
  right: 21.99%;
  left: 65.2%;
  width: 12.81%;
  bottom: 13.47%;
  top: 83.19%;
  height: 3.33%;
}
